/*bg*/

.white_theme{
	background-image: -moz-linear-gradient( -40deg, rgb(233,234,243) 0%, rgb(238,235,242) 100%);
  background-image: -webkit-linear-gradient( -40deg, rgb(233,234,243) 0%, rgb(238,235,242) 100%);
  background-image: -ms-linear-gradient( -40deg, rgb(233,234,243) 0%, rgb(238,235,242) 100%);
}

.white_theme .container h1{
	color: #242a48;
}
.white_theme .menu-left a{
	color: #242a48;
}
.white_theme .menu-right a{
	color: #242a48;
}
.white_theme .menu_nav a svg{
	fill: #242a48;
	width: 20px;
}
.white_theme .autorization_form legend{
	color: #242a48;
}
.white_theme .autorization_form input{
	background-color: #fff;
	border: 1px solid #c7cff1;
}
.white_theme .capcha-sheck{
	background-color: #fff;
	border: 1px solid #c7cff1;
}
.white_theme .autorization_form .button_login input{
	background-color: #3687f5;
}
.white_theme .autorization_form .button_login input:hover {
    background-color: rgb(38, 41, 93);
    cursor: pointer;
}
.footer-registration span{
	color: #242a48;
}